#wrapper {
  padding: 20px;
  text-align: center;
}

#content {
  display: none;
}

h1 {
  font-size: 60px;
}

.subHeader {
  font-size: 40px;
}

h2 {
}

#exercise {
  font-size: 20px;
}

#countDownDays {
  margin: 20px;
}

#container {
  padding: 16px;
}

#calendar {
  display: flex;
  flex-wrap: wrap;
}

.dayContainer {
  flex-basis: 14%;
  flex-basis: 14%;
  height: 100px;
  background: red;
  border: 1px solid;
}

.dayContent {
  font-size: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#activeDay {
  cursor: pointer;
  background: #008000c7;
}
