#wrapper {
  padding: 20px;
  text-align: center;
}

#content {
  display: none;
}

h1 {
  font-size: 60px;
}

.subHeader {
  font-size: 40px;
}

h2 {
}

#exercise {
  font-size: 20px;
}

#countDownDays {
  margin: 20px;
}

#container {
  padding: 16px;
}
